.form {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 5rem auto 0;
}
.formInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}
.input {
  border: 1px solid #dfdee0;
  border-radius: 8px;
  height: 45px;
  padding: 0.5rem;
}
.input:focus-within {
  outline: none;
  border: 1px solid transparent;
  border-radius: 8px;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(163.95deg, #6348fe 4.74%, #610595 88.83%) border-box;
}
.input::placeholder {
  color: #dfdee0;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}
#dateInputMM {
  width: 30%;
}
.expContainer {
  display: flex;
  flex-direction: column;
}
#dateInputYY {
  width: 30%;
  margin-left: 1rem;
}
#cvc {
  display: flex;
  width: 60%;
}
label {
  text-transform: uppercase;
}

.button {
  padding: 1rem;
  margin-top: 2rem;
  background-color: #21092f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 24px;
}

.errorMsg {
  color: red;
  margin-bottom: 1rem;
}
